@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}

/* Start Navbar  */
#navbar {
    padding: 0px 50px;
}

.logo img {
    width: 190px;
    margin-top: 3px;
}

.nav-item .nav-link {
    color: black;
    font-size: 18px;
    font-weight: 550;
    transition: .3s;
    border-radius: 10px;
}

.nav-item .nav-link:hover {
    background-color: #ffbf00;
    color: black;
    
}

/* Navbar End */




/* Home Section Start */
.home {
    width: 100%;
    height: 100vh;
    padding: 5px 11% 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    
}

.home .img {
    flex: 1 1 300px;
}

.home .img img {
    width: 100%;
    margin-left: 60px;
}

.home-content {
    flex: 1 1 400px;
    margin-top: 30px;
    
}

.home-content h3 {
    font-size: 40px;
    font-weight: 700;
    
}

.home-content h3 span {
    color: #e53937;
}

@media screen and (max-width:873px) {
    .home .img img {
        margin-left: 0px;
    }
}

/* Home Section End */





/* Top Section Start */
.top-section {
    padding: 10px 11% 100px;
}

.top-section h5 {
    color: #e53937;
}

.top-section h3 {
    color: black;
    font-weight: 600;
}

.top-section .row {
    margin-top: 30px;
    align-items: center;
}

.top-section .row .card {
    border: none;
}

.top-section .row .card img {
    width: 200px;
    margin: auto;
}

.top-section .card-body {
    text-align: center;
}

.top-section .card-body h1 {
    font-size: 25px;
    font-weight: 600;
}

/* Top Section End */




/* Our Menu Strat */
.menu {
    padding: 100px 11% 100px;
}

.menu h3 {
    text-align: center;
    color: #e53937;
}

.menu h2 {
    text-align: center;
    color: black;
    font-weight: 600;
}

.menu h2 i {
    color: #e53937;
}

.menu h6 {
    font-size: 16px;
}

.rating i {
    color: orange;
    font-size: 13px;
}

.menu p {
    margin-top: 5px;
    font-weight: bold;
}

.menu p i {
    float: right;
    color: #e53937;
    cursor: pointer;
}

/* Our Menu End */





/* Order Section Start */
.order {
    padding: 100px 11% 100px;
}

.heading {
    font-size: 30px;
    font-weight: 700;
}

.heading span {
    color: #e53937;
}

.order textarea {
    resize: none;
}

.ordernow img{
    height: 380px;
}
/* Order Section End */





/* Review Section Start */
.review {
    padding: 100px 11% 100px;
}

.review .card {
    border: 1px solid #e53937;
}

.review h3 {
    font-size: 16px;
    color: #e53937;
    font-weight: 550;
}

.review h2 {
    font-weight: 600;
}

.review h5 {
    margin-top: 35px;
    display: inline-block;
}

.review h5 a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.review h5 img {
    border-radius: 5px;
}

@media screen and(max-width: 636px) {
    .review h3 {
        margin-top: 10px;
    }
}

/* Review Section End */




/* Contact Section Start */
.contact {
    padding: 100px 11% 100px;
}

.contact .col-md-5 {
    background: #e53937;
    border-radius: 10px;
    color: white;
}

.contact h3 {
    margin-top: 30px;
}

.contact i span {
    margin-left: 10px;
    cursor: pointer;
}

/* Contact Section End */





/* Footer Start */
#footer {
    padding: 15px 11% 15px;
}

#footer .f-content {
    text-align: center;
}

.f-logo img {
    width: 250px;
    cursor: pointer;
}

.f-content i {
    font-size: 18px;
    color: black;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.f-content i:hover {
    background: #ffbf00;
    color: white;
    border-radius: 5px;
}

.c-content {
    text-align: center;
}

.c-content span a {
    text-decoration: none;
    color: #ffbf00;

}

/* Footer End */